.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.has-blue-background {
    background-color: wheat;
    border: 1px solid black;
}

.has-yellow-background{
    background-color: tan;
    border: 1px solid black;
}

p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 200px;
    height: 100px;
    background-color: orange;
}
